<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Ning Chess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="css/chess.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
<script> alert("对不起，您的浏览器不支持HTML5，请升级浏览器至IE9、firefox或者谷歌浏览器！")</script>
< ![endif]-->
    <script src="js/vue.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="layer/layer.js"></script>
    <style>
        .piece-box {
            width: 113px;
            height: 113px;
            position: absolute;
            /*绝对定位*/
            cursor: pointer;
        }
        
        .piece-tips {
            width: 150px;
            height: 80px;
            position: absolute;
            /*绝对定位*/
            cursor: pointer;
            top: 360px;
            left: 325px;
        }
        
        .border {
            width: 62px;
            height: 62px;
        }
        
        .border:hover {
            background: url(./file/image/current.png) no-repeat;
            background-size: 100% 100%;
        }
        
        .piece {
            width: 100%;
            height: 100%;
        }
        
        .count {
            width: 80px;
            height: 80px;
        }
        
        .msgbox {
            position: fixed;
            width: 350px;
            height: 100%;
            top: 10px;
            background-color: sienna;
            text-align: left;
            padding-left: 5px;
        }
        
        .right {
            right: 10px;
        }
        
        .left {
            left: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="msgbox left">
            <p v-for="(i,k) in wsmsgs" :key="k">{{i}}</p>
        </div>
        <div class="msgbox right">
            <p>
                <h2 v-if="user.name">Player : {{ user.name || "" }}</h2>
            </p>
            <p>
                <h2 v-if="user.name">Status : {{status}}</h2>
            </p>
            <p>
                <h2 v-if="user.name">{{terminfo}} </h2>
            </p>
        </div>
        <h1>
            {{ message }}
        </h1>
        <div id="chessBox" class="chess_box">
            <audio src="audio/click.wav" id="clickAudio" preload="auto"></audio>
            <audio src="audio/select.wav" id="selectAudio" preload="auto"></audio>
        </div>
        <div v-if="user.name" class="menu_box" id="menuBox">
            <div class="game_box">
                <div class="piece-box" v-for="(i,k) in map" :key="k" :style="{'top':position[k].top ,'left':position[k].left}">
                    <!-- {{ k[0] }}{{ k[1] }}{{ i }} -->
                    <div class="border">
                        <div class="piece" @click="pclick(i)" :style="{'background': setPieceBg(i.piece)}"></div>
                    </div>
                </div>
                <div class="piece-tips">
                    <h2 v-if="user.name">{{gameinfo}}</h2>
                </div>
            </div>
            <div>
                <table style="width:100%">
                    <tr>
                        <td style="width:80px">
                            <div class="count" :style="{'background-color': user.color==1?'black':'white'}"></div>
                        </td>
                        <td style="width:80px"> {{mypieces}} </td>
                        <td>
                            <a v-if="status==0" @click="show">开始匹配</a>
                            <a @click="ruledesc">游戏规则</a>
                        </td>
                        <td style="width:80px">{{oppopieces}} </td>
                        <td style="width:80px">
                            <div class="count" :style="{'background-color': user.color==1?'white':'black'}"></div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="menu_box name" v-else>
            <input type="text" placeholder="请输入昵称" v-model="inputname" />
            <a @click="setname">确定昵称</a>
        </div>
    </div>
</body>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            websocket: null,
            status: 0,
            mypieces: 0,
            oppopieces: 0,
            statusmap: {
                0: {
                    desc: '未连接'
                },
                1: {
                    desc: '已连接'
                },
            },
            message: "欢迎来到九子棋对战平台！",
            gameinfo: "",
            terminfo: "",
            wsmsgs: [],
            inputname: "",
            user: {
                connid: null,
                name: randomName(),
                bout: false, //是否允许落子
                color: 0, //是否允许落子
                goal: 0, // 操作类型 【落子 移动 吃子】
                eatcount: 0, // 吃子个数
            },
            base_o_x: base_o_x,
            base_o_y: base_o_y,
            step: step,
            map: initmap,
            position: position,
            rules: rules
        },
        methods: {
            show: function() {
                if (vm.status === STATUS.NotConn) {
                    console.log(JSON.stringify(vm.map))
                    vm.initWebSocket()
                } else if (vm.status = STATUS.AlreadyConn) {
                    vm.msg('你已经连接')
                }
            },
            ruledesc: function() {
                layer.open({
                    type: 1,
                    area: ['1800px', '650px'],
                    shadeClose: true, //点击遮罩关闭
                    content: vm.rules
                });
            },
            processGame: function(result) {
                console.log(result)
            },
            initGame: function(result) {
                console.log(result)
                var user = {
                    connid: null,
                    name: randomName(),
                    bout: false, //是否允许落子
                    color: 0, //是否允许落子
                    goal: 0, // 操作类型 【落子 移动 吃子】
                    eatcount: 0, // 吃子个数
                }
                vm.user.color = result.color
                vm.user.bout = result.bout
                vm.user.goal = result.goal
                vm.user.connid = result.connid
                vm.gameinfo = result.bout ? '您的回合' : '对手回合'
            },
            oppoGame: function(result) {
                if (vm.timer) {
                    clearInterval(vm.inter)
                }
                if (vm.timer) {
                    clearTimeout(vm.timer)
                }
                vm.map[result.xy].piece = result.color
                vm.user.bout = true
                vm.user.goal = 1
                vm.gameinfo = result.bout ? '您的回合' : '对手回合'
                vm.terminfo = result.message
                vm.inter = setInterval(() => {
                    if (vm.terminfo === '') {
                        vm.terminfo = result.message
                    } else {
                        vm.terminfo = ''
                    }
                }, 200)
                vm.timer = setTimeout(() => {
                    clearInterval(vm.inter)
                    vm.terminfo = result.message
                }, 601)
                vm.wsmsgs.push("系统：" + result.xy)
                vm.oppopieces++
            },
            setname: function() {
                // 检查输入昵称是否合法
                if (this.inputname !== "") {
                    this.user.name = this.inputname;
                    this.message = "设置昵称成功";
                    setTimeout(() => {
                        vm.message = "欢迎来到九子棋对战平台！";
                    }, 1000);
                } else {
                    this.msg("昵称不能为空");
                }
            },
            msg: function(str) {
                this.message = str;
                setTimeout(() => {
                    vm.message = "欢迎来到九子棋对战平台！";
                }, 1000);
            },
            pclick: function(i) {
                vm.terminfo = ''
                    // 操作类型，全局状态
                    // 判断有无棋子
                if (this.user.bout) {
                    if (this.user.goal === 1) {
                        if (i.piece === 0 && this.mypieces < 9) {
                            i.piece = vm.user.color
                            this.user.bout = false
                            vm.sendMessage({
                                type: 111, // 系统消息
                                goal: 1, // 落子
                                color: vm.user.color,
                                xy: i.x + "" + i.y
                            })
                            this.mypieces++
                        } else {
                            this.msg("已有棋子或大于9个！");
                        }
                    } else {
                        alert(this.user.goal)
                    }
                } else {
                    this.msg("请等待，不允许落子");
                }
            },
            setPieceBg: function(piece) {
                switch (piece) {
                    case 0: // 未落子
                        return "none";
                    case 1: // 黑棋
                        return "url(./file/image/black_piece.png) no-repeat";
                    case 2: // 白棋
                        return "url(./file/image/white_piece.png) no-repeat";
                }
            },
            //发送消息
            sendMessage: function(msg) {
                vm.websocket.send(JSON.stringify(msg));
            },
            initWebSocket: function() {
                //判断当前浏览器是否支持WebSocket
                if ('WebSocket' in window) {
                    vm.websocket = new WebSocket("ws://localhost:8080/ninesocket");
                } else {
                    alert('Not support websocket');
                }

                //连接发生错误的回调方法
                vm.websocket.onerror = function() {

                };

                //连接成功建立的回调方法
                vm.websocket.onopen = function(event) {
                    vm.msg('连接成功');
                    vm.status = STATUS.AlreadyConn
                    vm.gameinfo = "匹配中···"
                };

                //接收到消息的回调方法(包含了聊天，落子，开始游戏)
                vm.websocket.onmessage = function() {
                    var result = JSON.parse(event.data);
                    console.log(result)
                    if (vm.wsmsgs.length > 10) {
                        vm.wsmsgs.splice(0, 3)
                    }
                    if (result.type) {
                        switch (result.type) {
                            case 111:
                                vm.initGame(result)
                                vm.wsmsgs.push(result.message)
                                break
                            case 112: // 对手操作信息
                                vm.oppoGame(result)
                                break
                            case 222:
                                vm.processGame(result)
                                break
                            default:
                                vm.wsmsgs.push(result.message)
                                break
                        }
                    }
                };
                //连接关闭的回调方法
                vm.websocket.onclose = function() {
                    vm.wsmsgs.push("系统：与服务器连接断开！请重连！")
                };
                //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
                window.onbeforeunload = function() {
                    vm.websocket.close();
                };
                //关闭连接
                function closeWebSocket() {
                    vm.websocket.close();
                }
            }

        }
    });
</script>

</html>